{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy | TSAR-IT</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
      :root {
        --primaryBackground: #212529;
      }
      ::selection {
        background-color: #050540;
        color: #fff;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* line-height: 1.1; */
        font-family: "Poppins", sans-serif;
        font-weight: 500;
      }
      html {
        scroll-behavior: smooth;
      }
      :before,
      :after {
        box-sizing: border-box;
      }
      ::-webkit-scrollbar {
        width: 18px;
        background-color: #ffffff;
      }
      ::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: #05053930;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 0;
        background: linear-gradient(200deg, #040429 30%, #28286efe);
      }
      .banner {
        background: url("./media/privacy-policy.png") center/cover no-repeat;
        padding: 250px 0;
        margin: 10px 0;
      }
      .container {
        padding: 10px 60px;
        z-index: -1;
      }
      .container > h1 {
        color: #12132d;
        font-size: 38px;
        margin: 10px 0;
        font-weight: 300;
      }
      h2 {
        margin: 20px 0;
      }
      p {
        margin: 10px 0;
        font-weight: 400;
        color: #222222;
        text-align: justify;
        padding: 0 20px;
      }
      table {
        border: 1px solid #ffffff;
        border-collapse: collapse;
        width: 100%;
        margin: 20px 0;
      }
      tr,
      th,
      td {
        border: 1px solid #000;
        padding: 10px 20px;
      }
      td {
        width: 50%;
        padding: 10px 20px;
      }
      ul {
        margin: 15px 50px;
      }
      li {
        font-size: 17px;
        font-weight: 400;
        margin: 5px 0;
      }
      tr:nth-child(even) {
        background-color: #12132d;
        color: #fff;
      }
      tr:nth-child(odd) {
        background-color: #fff;
      }
      .main {
        padding: 15px 50px;

        background-color: #fff;

      }
      a {
        text-decoration: none;
        color: #565656;
      }
     
      h1 {
        padding: 5px 15px;
        border-left: 5px solid #12132d;
      }
      .reveal {
        transform: translateY(50px);
        opacity: 0;
        transition: all 0.6s linear;
      }

      .reveal.active {
        transform: translateX(0);
        opacity: 1;
        overflow: hidden;
      }

      @media screen and (max-width: 500px) {
        ::-webkit-scrollbar {
          width: 6px;
          background-color: #ffffff;
        }
        ::-webkit-scrollbar-track {
          border-radius: 0;
          background-color: #05053930;
        }
        ::-webkit-scrollbar-thumb {
          border-radius: 300px;
          background: linear-gradient(200deg, #040429 30%, #28286efe);
        }
        .banner {
          background: url("./media/privacy\ policy.png") center/cover no-repeat;
          padding: 80px 0;
          margin: 10px 15px;
        }
        .container {
          padding: 10px 30px;
        }
        .container > h1 {
          color: #12132d;
          font-size: 24px;
          margin: 10px 0;
          font-weight: 300;
        }
        h2 {
          font-size: 20px;
          margin: 5px 0;
        }
        p {
          margin: 5px 0;
          font-weight: 400;
          font-size: 12px;
          color: #222222;
          text-align: justify;
        }
        ul {
          margin: 15px 0;
        }
        li {
          font-size: 12px;
          font-weight: 400;
        }
      }
    </style>
  </head>
  <body>
    <header>
      {% include './header.html' %}
    </header>
    <div class="main"><a href="/">Home</a> > Privacy Policy</div>
    <section>
      <div class="banner">
        <!-- <h1>TSAR - IT</h1>
        <h3>Privacy Policy</h3> -->
      </div>
    </section>
    <section>
      <div class="container">
        <h1>Privacy Policy & Disclaimer</h1>
        <div class="main">
          <h2>overview</h2>
          <p>
            TSAR-IT Private Limited (which expression means and includes its
            affiliates and subsidiaries) has created this Privacy Policy in
            order to demonstrate the company’s commitment to privacy. This
            Privacy Policy demonstrates TSAR-IT Private Limited’s (‘we’, ‘our’)
            information gathering and dissemination practices for
            www.TSAR-IT.com
          </p>
          <!-- p -->
          <div class="reveal">
            <p>
              We take care to protect the privacy of users of TSAR-IT Private
              Limited website. Below is an explanation of how we process data
              about visitors to the website.
            </p>
            <!-- p -->
            <p>
              TSAR-IT Private Limited is a business processing outsource company
              with head offices in India, UK, Philippines and the United States.
              India Head Office, New Link Road, Malad West, Paradigm B, 5th
              Floor, Mindspace, Mumbai 400 064. UK Head Office, Space One, 1
              Beadon Road, London W6 0EA. United States Head Office, 1661 Lyndom
              Farm Court, Louisville, Kentucky 40223. Philippines Head Office,
              Plaza D, Northgate Cyberzone 5th Floor, TSAR-IT Building,
              Filinvest Alabang Muntinlupa City.
            </p>
          </div>
          <!-- h2 -->
          <div class="reveal">
            <h2>Cookies</h2>
            <!-- p -->
            <p>
              To improve your experience on our site, we may use ‘cookies’.
              Cookies are an industry standard and most major web sites use
              them. A cookie is a small text file that our site may place on
              your computer as a tool to remember your preferences. You may
              refuse the use of cookies by selecting the appropriate settings on
              your browser, however please note that if you do this you may not
              be able to use the full functionality of this website.
            </p>
          </div>
          <div class="reveal">
            <h2>IP addresses</h2>
            <p>
              IP addresses are used by your computer every time you are
              connected to the Internet. Your IP address is a number that is
              used by computers on the network to identify your computer. IP
              addresses are automatically collected by our web server as part of
              demographic and profile data known as “traffic data” so that data
              (such as the Web pages you request) can be sent to you.
            </p>
          </div>
          <div class="reveal">
            <h2>Google Analytics</h2>
            <p>
              Our website uses Google Analytics, a service which transmits
              website traffic data to Google servers in the United States.
              Google Analytics does not identify individual users or associate
              your IP address with any other data held by Google. We use reports
              provided by Google Analytics to help us understand website traffic
              and webpage usage.
            </p>
            <p>
              By using this website, you consent to the processing of data about
              you by Google in the manner described in Google’s Privacy Policy
              (https://www.google.com/policies/privacy/) and for the purposes
              set out above. You can opt out of Google Analytics if you disable
              or refuse the cookie, disable JavaScript, or use the opt-out
              service provided by Google
              (https://tools.google.com/dlpage/gaoptout).
            </p>
          </div>
          <!-- h2 -->
          <div class="reveal">
            <h2>Social media</h2>
            <p>
              TSAR-IT also uses interfaces with social media sites such as
              Facebook, LinkedIn, Twitter and others. If you choose to “like” or
              “share” information from this website through these services, you
              should review the privacy policy of that service. If you are a
              member of a social media site, the interfaces may allow the social
              media site to connect your visits to this site with other Personal
              Information
            </p>
          </div>
          <div class="reveal">
            <h2>External links</h2>
            <p>
              Our website may contain links to other websites. Please be aware
              that we are not responsible for the privacy practices of such
              other sites. When you go to other websites from here, we advise
              you to be aware and read their privacy policy.
            </p>
          </div>
          <!-- h2 -->
          <div class="reveal">
            <h2>Information given by the user</h2>
            <p>
              We may receive and store any information which you enter on our
              website or give us in any other way, such as:
            </p>
            <ul>
              <li>
                By submitting a web form, you will give us information such as
                your name, phone number and email address to enable us to reply
                to you. This will be under the lawful basis of consent and will
                not be shared outside of TSAR-IT Private Limited.
              </li>
              <li>
                If you are applying for a vacancy with us, please refer to the
                job vacancy privacy policy for further information on how your
                data will be used. We do not share any personal information with
                any third parties. When completing a web form, we will store and
                process personal data.
              </li>
            </ul>
          </div>
          <div class="reveal">
            <h2>
              Case 1: Forms on the contact page marked “Suppliers”,
              “Recruitment”, “Employees”, “Media/Press”, “Investors”, “Analysts”
              and “Other”
            </h2>
            <p>
              We will gather your name, phone number, email address, company and
              job title (if applicable), TSAR-IT office you wish to contact (if
              applicable), and an optional message.
            </p>
          </div>
          <br />
          <div class="reveal">
            <p>Your details and message will be:</p>
            <p>
              a) sent via email to the relevant person within the organisation
            </p>
            <p>
              b) stored in our database for a period of no more than 60 days
              before permanent deletion
            </p>
            <br />
            <p>This information can be removed by request by contacting us.</p>
          </div>
          <div class="reveal">
            <h2>Case 2: All other web forms (excluding job applications)</h2>
            <p>
              We will gather your name, phone number, email address, location
              down to city level, web page on which you filled out the form,
              actions taken on our website, company and job title, industry, the
              Private you are interested in, and an optional message.
            </p>
          </div>
          <div class="reveal">
            <p>
              We will also ask in a clear manner for your consent to a) receive
              marketing communications, and, separately, b) receive personal
              emails from TSAR-IT employees, such as business development
              representatives. These options will either be presented as
              checkboxes, or be clearly indicated in the form title, e.g. “Sign
              up for our mailing list”
            </p>
          </div>
          <div class="reveal">
            <p>
              Your details and message will be stored in our marketing
              automation system indefinitely. If you opted in to receiving
              marketing communications, you will be added to the general mailing
              list and any other mailing lists based on your indicated industry
              and desired Private. You may unsubscribe at any time by emailing
              marketing@TSAR-IT.com or clicking “Unsubscribe” at the bottom of
              any marketing email.
            </p>
          </div>
          <div class="reveal">
            <p>
              If you opted in to receiving personal messages, your details and
              message will be sent to a relevant member of our business
              development team. Your details may also be stored in Salesforce,
              our CRM system.
            </p>
          </div>
          <div class="reveal">
            <p>
              By submitting a web form in this second case, you consent to the
              processing of data about you by ActiveCampaign in the manner
              described in ActiveCampaign’s Privacy Policy
              (https://help.activecampaign.com/hc/en-us/articles/218789997-Privacy-Policy)
              and for the purposes set out below. You can contact them at any
              time if you would like to access or edit your data or if you have
              any questions about your data and how they are using it
              (https://www.activecampaign.com/contact/)
            </p>
          </div>
          <div class="reveal">
            <p>
              By opting in to receive personal messages, you also consent to the
              processing of data about you by Salesforce in the manner described
              in Salesforce’s Privacy Policy
              (https://help.salesforce.com/articleView?id=Salesforce-Services-Trust-and-Compliance-Documentation&language=en_US&type=1)
              for the same purposes.
            </p>
          </div>
          <div class="reveal">
            <p>
              By opting in to receive personal messages, you also consent to the
              processing of data about you by Salesforce in the manner described
              in Salesforce’s Privacy Policy
              (https://help.salesforce.com/articleView?id=Salesforce-Services-Trust-and-Compliance-Documentation&language=en_US&type=1)
              for the same purposes.
            </p>
          </div>
          <div class="reveal">
            <p>
              You can contact us at marketing@TSAR-IT.com at any time to remove
              your information.
            </p>
          </div>
          <div class="reveal">
            <p>
              We will not, without your explicit consent, disclose to anyone
              outside of TSAR-IT Private Limited any personal information you
              provide to us when you visit the website. The data we would like
              to collect via forms is:
            </p>
          </div>
          <div class="reveal">
            <table>
              <tr>
                <th>Personal data type:</th>
                <th>
                  Source (where TSAR-IT obtained the personal data from if it
                  has not been collected directly from you, the data subject):
                </th>
              </tr>
              <tr>
                <td>First and last name</td>
                <td>Data subject</td>
              </tr>
              <tr>
                <td>Email address</td>
                <td>Data subject</td>
              </tr>
              <tr>
                <td>Phone number</td>
                <td>Data subjec</td>
              </tr>
              <tr>
                <td>Company</td>
                <td>Data subject</td>
              </tr>
              <tr>
                <td>Job title</td>
                <td>Data subject</td>
              </tr>
              <tr>
                <td>TSAR-IT office you wish to contact</td>
                <td>Data subject</td>
              </tr>
              <tr>
                <td>Your industry *</td>
                <td>Data subject</td>
              </tr>
              <tr>
                <td>How can we help / desired Private *</td>
                <td>Data subject</td>
              </tr>
              <tr>
                <td>Conversion page *</td>
                <td>Conversion page *</td>
              </tr>
              <tr>
                <td>Past activity on our website *</td>
                <td>Cookies</td>
              </tr>
              <tr>
                <td>Location (down to city level) *</td>
                <td>IP address</td>
              </tr>
              <tr>
                <td>Marketing consent *</td>
                <td>Data subject</td>
              </tr>
              <tr>
                <td>Sales consent *</td>
                <td>Data subject</td>
              </tr>
              <tr>
                <td>Message</td>
                <td>Data subject</td>
              </tr>
              <p>Only relevant for forms in Case 2 (details above)</p>
            </table>
          </div>
          <div class="reveal">
            <p>Automatic information</p>
            <p>
              We may at some time, receive and store certain types of
              information whenever you interact with us, e.g. the use of cookies
            </p>
          </div>
          <div class="reveal">
            <h2>E-mail communications</h2>
            <p>
              To help us make e-mails more useful and interesting, we often
              receive a confirmation when you open e-mail from TSAR-IT.com if
              your computer supports such capabilities.
            </p>
          </div>
          <div class="reveal">
            <p>
              Our site provides users the opportunity to opt-out of receiving
              communications from us and our partners by reading the unsubscribe
              instructions located at the bottom of any e-mail they receive from
              us at any time.
            </p>
          </div>
          <div class="reveal">
            <h1>Information from Other Sources</h1>
            <p>
              We might receive information about you from other sources and add
              it to our account information.
            </p>
          </div>
          <div class="reveal">
            <h2>What do we use personal data for?</h2>
            <p>
              We use personal data to provide you with information that you have
              requested, including marketing purposes, sales and to process
              online applications.
            </p>
          </div>
          <div class="reveal">
            <p>
              TSAR-IT collects information including your Internet Protocol
              address, which will be anonymised, browser type, browser language,
              the date and time of your query. This information is collected in
              the interest of identifying any issues with the site, to establish
              which areas of the website are used more frequently and to help
              improve the website.
            </p>
          </div>
          <div class="reveal">
            <p>
              Information provided through the web forms including name, email
              address and contact number will only be used for the purpose of
              the web form submission including new customer contact, media
              enquiries and marketing. This will be processed under the lawful
              basis of consent.
            </p>
          </div>
          <div class="reveal">
            <h2>How long we retain your personal data?</h2>
            <p>
              We will retain your personal data only for as long as we need it
              for TSAR-IT’s legitimate business interest in accordance with
              applicable laws and to perform services as you have opted for or
              to meet legal requirements, after which we will take steps to
              delete your personal data or hold it in a form that no longer
              identifies you.
            </p>
          </div>
          <div class="reveal">
            <h2>Security</h2>
            <p>
              This website has security measures in place to protect the loss,
              misuse, and/or alteration of information under our control. The
              data resides behind a firewall, with access restricted to our
              authorized personnel. We take appropriate security measures to
              protect against unauthorized access to or unauthorized alteration,
              disclosure or destruction of data.
            </p>
          </div>
          <div class="reveal">
            <h2>Disclosure and transfer of personal information</h2>
            <p>
              TSAR-IT keeps your personal information confidential except where
              disclosure/transfer of personal information is required by an
              order under the law for the time being in force or by Government
              agencies including law enforcement agencies having authority of
              law, upon their request in writing, even without obtaining your
              consent.
            </p>
          </div>
          <div class="reveal">
            <p>
              However, sometimes TSAR-IT uses third parties to process your
              information. TSAR-IT requires these third parties to comply
              strictly with its instructions and not to further transfer your
              personal information.
            </p>
          </div>
          <div class="reveal">
            <p>
              TSAR-IT also requires that they do not use your personal
              information for their own business purposes, unless you have
              explicitly consented.
            </p>
          </div>
          <div class="reveal">
            <h2>Access to information and your rights</h2>
            <p>
              You have the right to access the information held about you and
              the right to have any inaccuracies corrected in the personal data
              we hold about you by contacting marketing@TSAR-IT.com.
            </p>
          </div>
          <div class="reveal">
            <ul>
              <li>
                Right of access – you have the right to request a copy of the
                information that we hold about you.
              </li>
              <li>
                Right of rectification – you have a right to correct data that
                we hold about you that is inaccurate or incomplete.
              </li>
              <li>
                Right to be forgotten – in certain circumstances you can ask for
                the data we hold about you to be erased from our records.
              </li>
              <li>
                Right to restriction of processing – where certain conditions
                apply to have a right to restrict the processing.
              </li>
              <li>
                Right of portability – you have the right to have the data we
                hold about you transferred to another organisation.
              </li>
              <li>
                Right to object – you have the right to object to certain types
                of processing such as direct marketing.
              </li>
              <li>
                Right to judicial review: in the event that TSAR-IT Private
                Limited refuses your request under rights of access, we will
                provide you with a reason as to why. You have the right to
                complain as outlined below.
              </li>
            </ul>
          </div>
          <div class="reveal">
            <h2>Contacting us</h2>
            <p>
              If you have any questions or concerns about this Privacy Policy,
              or your dealings with this website, you can contact
              marketing@TSAR-IT.com for clarifications.
            </p>
          </div>
          <div class="reveal">
            <p>
              Our Data Protection Officer can be contacted at TSAR-IT Private UK
              Limited, Space One, 1 Beadon Road, London, W6 0EA
            </p>
          </div>
          <div class="reveal">
            <h2>Third Party Processors</h2>
            <p>
              Our carefully selected partners and service providers may process
              personal information about you on our behalf as described below:
            </p>
          </div>
          <div class="reveal">
            <p>“Digital Marketing Service Providers</p>
            <p>
              We periodically appoint digital marketing agents to conduct
              marketing activity on our behalf, such activity may result in the
              compliant processing of personal information. Our appointed data
              processors include:
            </p>
          </div>
          <div class="reveal">
            <p>
              (i)Prospect Global Ltd (trading as Sopro) Reg. UK Co. 09648733.
              You can contact Sopro and view their privacy policy here:
              http://sopro.io. Sopro are registered with the ICO Reg: ZA346877
              their Data Protection Officer can be emailed at: dpo@sopro.io.”
            </p>
          </div>
        </div>
      </div>
    </section>
    <script src="{% static './JavaScript/scroll.js' %}"></script>
  {% include 'footer.html' %}
  </body>
</html>
